@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .cars-item-content1 > .cars-item-title {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .cars-item-title {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  .vehicle-container {
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
  }
  .next-btn {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
  }
  .vehicle-article-item {
    max-width: 770px !important;
  }
  .article-gallery {
    min-height: 300px;
  }
  .article-gallery-img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .cars-item1 {
    grid-column: 1/3 !important;
    grid-row: 1/2 !important;
  }
  .cars-item2 {
    grid-column: 3/5 !important;
    grid-row: 1/2 !important;
  }
  .cars-item3 {
    grid-column: 3/5 !important;
    grid-row: 2/3 !important;
  }
  .cars-item4 {
    grid-column: 1/3 !important;
    grid-row: 2/3 !important;
  }
  .cars-item5 {
    grid-column: 1/5 !important;
    grid-row: 3/5 !important;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .cars-item-img {
    object-fit: cover;
  }
  .cars-item1 {
    grid-column: 1/5 !important;
    grid-row: 1/2 !important;
    max-height: 400px;
  }
  .cars-item2 {
    grid-column: 1/5 !important;
    grid-row: 2/3 !important;
  }
  .cars-item3 {
    grid-column: 1/5 !important;
    grid-row: 3/4 !important;
  }
  .cars-item4 {
    grid-column: 1/5 !important;
    grid-row: 4/5 !important;
  }
  .cars-item5 {
    grid-column: 1/5 !important;
    grid-row: 5/6 !important;
  }
  .gallery2 {
    grid-column: auto !important;
  }
  .article-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .article-gallery {
    max-height: 300px;
    overflow: hidden;
  }
  .popular-block {
    grid-template-columns: repeat(auto-fit, 80%) !important;
  }
  .popular-item-img {
    width: 100%;
  }
  .footer-top {
    padding: 60px 0 50px;
    row-gap: 50px !important;
    justify-content: center;
  }
  .footer-nav {
    align-items: center;
    justify-content: center !important;
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .nav-list {
    display: none !important;
  }
  .vehicle-main-item-content-title {
    font-size: 15px !important;
    line-height: 25px !important;
    margin-bottom: 10px !important;
  }
  .vehicle-main-item-content {
    padding: 30px !important;
    bottom: 90px !important;
  }
  .footer-list {
    gap: 15px !important;
  }
}
